
.DS_Store

properatti.csv
properati.ipynb
manzanas_caba_censo_2010.rar
manzanas_caba_censo_2010/manzanas_censo_2010.dbf
manzanas_caba_censo_2010/manzanas_censo_2010.prj
manzanas_caba_censo_2010/manzanas_censo_2010.sbn
manzanas_caba_censo_2010/manzanas_censo_2010.sbx
manzanas_caba_censo_2010/manzanas_censo_2010.shp
manzanas_caba_censo_2010/manzanas_censo_2010.shp.xml
manzanas_caba_censo_2010/manzanas_censo_2010.shx
manzans.svg
